@model Albumes.Models.Artist

@{
    ViewData["Title"] = "Stock";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
    </dl>
</div>

<h1>Stock albumes</h1>
<div>
    <table class="table">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Fecha de lanzamiento
            </th>
            <th>
                Informacion
            </th>
            <th>
                Precio
            </th>
            <th>
                Cantidad
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if (Model.Stocks != null)
{
    @foreach (var item in Model.Stocks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Album.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album.Story)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Album.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a class="btn btn-primary"asp-controller="Stock" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a class="btn btn-danger"asp-controller="Stock" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>
</div>
<div>   
    <a class="btn btn-primary" asp-controller="Stock" asp-action="Create" asp-route-id="@Model.Id">Agregar stock</a>
</div>
