@using Albumes.ViewModels;

@model AlbumViewModel;

@{
    ViewData["Title"] = "Index";
}

<h1>Albumes</h1>

<form method="get" asp-action="Index">
    <div class="col-2 form-group">
        <input class="form-control" asp-for="NameFilter"/> 
        <button class="btn btn-primary" type="submit">Buscar</button>          
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Album.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album.Story)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Albums) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Story)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <div>
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-primary btn-sm mr-2" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
